# Archivos de IntelliJ/Android Studio
*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml

# Kotlin
/.kotlin/

# Configuración local
local.properties

# Build
/build
/app/build

# Capturas y profiling
/captures
*.hprof

# Native build
.externalNativeBuild
.cxx

# macOS
.DS_Store

# Keystores (excepto debug)
*.jks
*.keystore
!debug.keystore
